:root {
  --navbarColor: #f3e5f0;
  --mainColor: #d7e1e4;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1 rem;
}
body {
  font-family: "Noto Sans Georgian", sans-serif;
  background-color: var(--mainColor);
}

/* navbar start */

.navbar {
  background-color: var(--navbarColor);
  margin: 0 auto;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar ul li {
  padding: 15px;
}
.navbar ul li :hover {
  color: rgb(199, 131, 75);
  transition: ease-in-out 0.2s;
}
.link {
  color: black;
}

.logo {
  display: block;
  height: 70px;
  width: 200px;
  object-fit: cover;
}
.bars_btn {
  display: none;
}

/* start of media for navbar */
@media screen and (max-width: 1125px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .show_navlinks {
    transition: ease-in 0.5s;
    flex-direction: column;
  }
  .hide {
    height: 0;
    overflow: hidden;
    transform: translateY(-150%);
  }
  .navbar ul li {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 100vw;
    border-bottom: 1px solid;
  }
  .navbar ul li:hover {
    background-color: rgb(199, 131, 75, 0.3);
    transition: ease-in-out 0.2s;
    cursor: pointer;
  }
  .link {
    color: black;
  }
  .bars_btn {
    margin-right: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    cursor: pointer;
  }

  .logo_bar {
    display: flex;
    justify-content: space-between;
  }
}

/* start of media for navbar */
/* navbar end */
/* =========================== */
/* start footer */

.page-footer {
  background-color: var(--navbarColor);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* end of  footer */

/* =========================== */

/* start of home page */
.imghome {
  display: block;
  margin: 0 auto;
  width: 90vw;
}
/* end of home page */
