:root {
  --navbarColor: #f3e5f0;
  --mainColor: #d7e1e4;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1 rem;
}
body {
  font-family: "Noto Sans Georgian", sans-serif;
  background-color: var(--mainColor);
}

/* navbar start */
.holepagewrapper {
  position: relative;
  min-height: 100vh;
}
.wrap {
  padding-bottom: 70px;
}

.navbar {
  background-color: var(--navbarColor);
  margin: 0 auto;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar ul li {
  padding: 10px;
  transition: 0.5s;
}
.navbar ul li:hover {
  background-color: rgb(233, 139, 212);
}
.link {
  padding: 10px;
  color: black;
}

.logo {
  display: block;
  height: 70px;
  width: 200px;
  object-fit: cover;
}
.bars_btn {
  visibility: hidden;
}

/* start of media for navbar */
@media screen and (max-width: 1125px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .show_navlinks {
    transition: ease-in 0.5s;
    flex-direction: column;
  }
  .hide {
    height: 0;
    overflow: hidden;
    transform: translateY(-50%);
  }
  .navbar ul li {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 100vw;
    border-bottom: 1px solid;
  }
  .navbar ul li:hover {
    background-color: rgb(233, 139, 212);
    transition: ease-in-out 0.5s;
    cursor: pointer;
  }
  .link {
    color: black;
  }
  .bars_btn {
    visibility: visible;
    font-size: 1.6rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: 0.5s;
    cursor: pointer;
    color: rgb(25, 25, 26);
    padding-right: 10px;
  }
  .bars_btn:hover {
    transform: rotate(90deg);
  }

  .logo_bar {
    display: flex;
    justify-content: space-between;
  }
}

/* start of media for navbar */
/* navbar end */
/* =========================== */
/* start footer */

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--navbarColor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* end of  footer */

/* =========================== */

/* start of home page */
.imghome {
  display: block;
  margin: 0 auto;
  width: 90vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 0 2rem 0;
}
/* end of home page */
/* start of products section */

@media screen and (max-width: 640px) {
  .productsWrapper {
    padding: 10px;
    display: grid;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }
  .productcard {
    border-radius: 10px;
    transition: box-shadow 0.5s;
  }
  .productimage {
    display: block;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .productcard:hover {
    -webkit-box-shadow: -1px 0px 20px 2px #000000;
    box-shadow: -1px 0px 20px 2px #000000;
  }
  .productcard h2 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    word-wrap: break-word;
    width: 300px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    color: #000000;
    background: rgb(105, 228, 211);
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 641px) {
  .productsWrapper {
    margin: 0 auto;
    width: 95vw;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    padding: 20px;
  }
  .productcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    transition: box-shadow 0.5s;
  }

  .imagecontainer {
    width: 350px;
    height: 350px;
  }
  .productimage {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .productheader {
    word-wrap: break-word;
    width: 350px;
    font-size: 15px;
    padding: 10px;
    height: 50px;
    background: rgb(105, 228, 211);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: black;
    text-align: center;
  }
  .productcard:hover {
    -webkit-box-shadow: -1px 0px 20px 2px #000000;
    box-shadow: -1px 0px 20px 2px #000000;
    cursor: pointer;
  }
}
.header {
  color: #000000;
}

/* end of products section */

/* start of the singlepage */
.siglePageWrapper {
  padding: 50px 20px 50px 20px;
  margin: 0 auto;
  max-width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
.sliderSection {
  padding-top: 5px;
  display: flex;
  flex-direction: flex-start;
  gap: 5px;
}
.sliderSection img {
  cursor: pointer;
  display: block;
  object-fit: cover;
  width: 100px;
  height: 100px;
}
.image {
  width: 500px;
  height: 500px;
}
.image img {
  object-fit: cover;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.discriptionSection h4 {
  word-spacing: 10px;
}
@media screen and (max-width: 1100px) {
  .siglePageWrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  .image {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
  .sliderSection {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

/* end of the singlepage */

/* start of the production filter section */
.production {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.filterButtonswrapper {
  display: flex;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.filterbtn {
  padding: 20px;
  border-radius: 20px;
  border: transparent;
  font-size: 17px;
  cursor: pointer;
}
.filterditemswrapper {
  margin: 0 auto;
  width: 90vw;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  padding: 20px;
}

/* end of the production filter section */
@media screen and (max-width: 1015px) {
  .filterbtn {
    display: block;
    padding: 20px;
    border-radius: 20px;
    border: transparent;
    font-size: 17px;
    cursor: pointer;
  }
  .filterButtonswrapper {
    display: grid;
    margin: 0 auto;
    min-width: 450px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
