:root {
  --navbarColor: #f3e5f0;
  --mainColor: #d7e1e4;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1 rem;
}
body {
  font-family: "Noto Sans Georgian", sans-serif;
  background-color: var(--mainColor);
}

/* navbar start */

.navbar {
  background-color: var(--navbarColor);
  margin: 0 auto;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar ul li {
  padding: 15px;
}
.navbar ul li :hover {
  color: rgb(199, 131, 75);
  transition: ease-in-out 0.2s;
}
.link {
  color: black;
}

.logo {
  display: block;
  height: 70px;
  width: 200px;
  object-fit: cover;
}
.bars_btn {
  display: none;
}

/* start of media for navbar */
@media screen and (max-width: 1125px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .show_navlinks {
    transition: ease-in 0.5s;
    flex-direction: column;
  }
  .hide {
    height: 0;
    overflow: hidden;
    transform: translateY(-150%);
  }
  .navbar ul li {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 100vw;
    border-bottom: 1px solid;
  }
  .navbar ul li:hover {
    background-color: rgb(199, 131, 75, 0.3);
    transition: ease-in-out 0.2s;
    cursor: pointer;
  }
  .link {
    color: black;
  }
  .bars_btn {
    margin-right: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    cursor: pointer;
  }

  .logo_bar {
    display: flex;
    justify-content: space-between;
  }
}

/* start of media for navbar */
/* navbar end */
/* =========================== */
/* start footer */

.page-footer {
  background-color: var(--navbarColor);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* end of  footer */

/* =========================== */

/* start of home page */
.imghome {
  display: block;
  margin: 0 auto;
  width: 90vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 0 2rem 0;
}
/* end of home page */
/* start of products section */

@media screen and (max-width: 640px) {
  .productsWrapper {
    padding: 10px;
    display: grid;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }
  .productcard {
    border-radius: 10px;
    transition: box-shadow 0.5s;
  }
  .productimage {
    display: block;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .productcard:hover {
    -webkit-box-shadow: -1px 0px 20px 2px #000000;
    box-shadow: -1px 0px 20px 2px #000000;
  }
  .productcard h2 {
    word-wrap: break-word;
    width: 300px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
  }
}
@media screen and (min-width: 641px) {
  .productsWrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(3, 400px);
    row-gap: 20px;
    padding: 25px;
  }
  .productcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    transition: box-shadow 0.5s;
  }
  .productimage {
    display: block;
    object-fit: cover;
    width: 350px;
    height: 350px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .productcard h2 {
    word-wrap: break-word;
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 15px;
  }
  .productcard:hover {
    -webkit-box-shadow: -1px 0px 20px 2px #000000;
    box-shadow: -1px 0px 20px 2px #000000;
    cursor: pointer;
  }
}

/* end of products section */
